*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  width: 100%;
}

.meni{
  width:100%;
  overflow:hidden;
  height:100px;
  line-height:100px;
  background:#e0e0d1;
  border-bottom: 3px solid grey;
}
.logo{
  width:100px;
  float: left;
}

.blok{
  width:90%;
  margin: 0 auto;
}
.menu{
  float: right;
}
.meni ul {
  list-style:none;
}
.menu li{
  float: left;
  width: 120px;
  height: 100px;
  line-height: 100px;
  text-align:center;
}
.menu li a{
  color:#000;
  font-family:'Times New Roman', Times, serif; 
  display: block;
  text-decoration: none;
}
.menu li:hover{
 background: #cce6ff;
}
.menu li a:hover{
  color:#1a8cff;
}
.meni a.active{
  background-color:#cce6ff;
}
.baner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../slike/1.jpg);
  margin: auto;
  height: 600px;
  width: 100%;
  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(42, 20, 168);
    text-align: center;
}

.baner h1{
  padding: 100px 0 40px 0;
  font-size: 60px;
  font-weight: 100;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.baner a{
  display: block;
  border:3px solid white;
  font-size: 30px;
  margin: 0 auto;
  border-radius: 30px;
  width: 180px;
  text-decoration: none;
}

.baner a:hover{
  background-color: white;
}

.info{
  background-color: #e0e0d1;
  display:flex;
  justify-content: center;
  /*width: 90%;
  margin: 0 auto;*/
  flex-wrap:wrap;
}


.info img{
  width: 100%; 
 /* max-width: 100%; */
  height: auto;
}

.info .card{
  float: left;
  width: calc((100% - 300px) / 3);
  height: 500px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.info .card:hover{
  border: 2px solid black;
  border-radius: 5px;
  background-color: #cce6ff;
}

.info .card h2{
  padding:10px;
 font-size:2vw;
}
@media screen and (max-width: 991px) {
 .h2{
  font-size:10px;
  }
  }
/* @media screen and (min-width: 601px) {
  div.info {
    font-size: 80px;
  }
} */

.info.card p{
  padding:10px;
  /*text-align: center;*/
}
/*za dtranicu o nama*/

.oNama{
  background:url("../slike/cekaonica-2-2000x1333.jpg") no-repeat left;
  background-size:55%;
  height:100vh;
  overflow:hidden;
  background-color:#e0e0d1;
  padding: 50px 0;
}
.kontejner{
  width:60%;
float:right;
padding: 100px;
background-color:beige;
}
.kontejner p{
  font-style: italic;
}
.kontejner h4{
  text-align:center;
  font-family: cursive ;
  font-weight: 100;
}